html{
    background-color: black;
    font-family: Verdana;
    text-align: center;
}

h1{
    color: white;
    font-weight: normal;
    font-size: 3.125rem;
}
.cta{
    font-size: 1rem;
    color: aquamarine;
}